<!DOCTYPE html>
<html>
<head>
	<title>Computada em método</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="app">
	<header class="header">
	
     
	
	
	</header>
	<section class="container">
		<section class="container__content">
		
        <label for="">Digite um nome: </label>
        <input type="text" v-model="name"> {{avisa}}
        <br>
       <button v-if="button" @click="add">Adicionar</button>
			
			
					
		
		</section>
		<aside class="container__sidebar">
	
            <ul>
				<li v-for="nome in nomes">{{nome}}</li>
			</ul>
		
			<h5>Total de nomes: <span v-html="nomes.length"></span></h5>
		</aside>
		</section>
		<footer class="footer">
		
		
		</footer>
		
</div>
	
	
	<script src="script.js"></script>
	
	
</body>
</html>
