<!DOCTYPE html>
<html>
<head>
	<title>Computada em método</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="app">
	<header class="header">
	

	
	
	</header>
	<section class="container">
		<section class="container__content">
		
		
			
				<!-- {{ nome }} <br>

				{{ aleatorio() }}<br><br><br>

				
			
			{{aleatorioComputed}}<br><br><br> -->

					<input type="text" v-model="num1" style="width:200px" > + 
					<input type="text" v-model="num2" style="width:200px" > =

							{{result}}
			
					
		
		</section>
		<aside class="container__sidebar">
	
			<!-- {{ aleatorio() }}<br><br><br>
	
		{{aleatorioComputed}}<br><br><br> -->


		

		</aside>
		</section>
		<footer class="footer">
		
		
		</footer>
		
		</div>
	
	
	<script src="script.js"></script>
	
	
</body>
</html>
