<!DOCTYPE html>
<html>

<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div id="app">
		<header class="header">



		</header>
		<section class="container">
			<section class="container__content">

				<input type="text" v-model="nome">
				<p>Nome: {{nome}}</p>
				<hr>
				<input type="checkbox" v-model="marcado">
				<p>Marcado: {{marcado}}</p>
				<hr>
				<select v-model="selected">
					<option value="J">Jackson</option>
					<option>Lucas</option>
					<option>Lucão</option>
				</select>
				<p>Selecionado: {{selected}}</p>

				<hr>
				<!-- lISTANDOI AUTOMATICAMENTE -->
				<select v-model="selectedDinamyc">
					<option v-for="item in lista">{{item}}</option>
				</select>
				<p>Selecionado: {{selectedDinamyc}}</p>





			</section>
			<aside class="container__sidebar">



			</aside>
		</section>
		<footer class="footer">


		</footer>

	</div>


	<script src="script.js"></script>


</body>

</html>