body {
	font-family: Arial;
	font-size: 14px;
}

#app {
	max-width: 1024px;
	margin: auto;
}

.header {
	min-height: 100px;
	background-color: #EEE;
}

.container {
	display: flex;
	min-height: 400px;
}

.container__content {
	flex: 1;
	background-color: #DDD;
	padding: 10px;
}

.container__sidebar {
	width: 300px;
	background-color: #D1D1D1;
	padding: 10px;
}

.footer {
	min-height: 100px;
	background-color: #EEE;
}

.farol {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100px;
	min-width: 100px;
	height: 200px;
	background: #000;
	border-radius: 20px;
}

.luz {
	width: 60px;
	margin-top: 12px;
	min-width: 60px;
	height: 50px;
	background: #EEE;
	border-radius: 50%;
}

.btn {
	margin-top: 20px;
}